einops
flit
h5py
joblib
joblib
jupyterlab
tensorboard
librosa
matplotlib
onnxruntime-gpu
openpyxl # for saving results to excel
pandas
pesq
pre-commit
pystoi
pyyaml
scipy
soundfile
tabulate
toml
torchinfo
tqdm
accelerate==1.6.0
thop
pyannote-core<6 
pyannote-metrics<4
pyannote.pipeline<4
pytorch_lightning
torch_audiomentations
julius
torch_pitch_shift
transformers==4.40
semver
numpy==1.26.4